html {
    background: #333;
}

a {
  color: white;
  text-align: center;
}

h1 {
  float: right;
  padding-right: 10%;
  text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 40px; 
  }
  
  li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
  }
  
  li a {
    list-style-type: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  b {
    color: white;
    text-align: center;
  }

  c {
    color: white;
    text-align: center;
  }

  d {
    color: white;
    
  }

  li a:hover {
    background-color: #333;
    border-radius: 40px;
  }

  h1 {
    color: white;
    font-size: 20pt;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 35pt;
  }

  h3 {
    color: white;
    text-align: center;
    font-size: 20pt;
  }

  h4 {
    color: white;
    text-align: center;
    font-size: 18pt;
  }

  p {
    color: white;
    text-align: center;
    font-size: 15pt;
  }

  html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.Header {
 width: 95%;
 margin: 0 auto;
}

.Header-GIF-div {
    float: right;
}

.Header-GIF {
    padding-top: 3px;
    padding-right: 30px;
    float: right;
    height: 65px;
    width: 60px;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    color: white;
    text-align: center;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: black;
    
    background-color: white;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: greenyellow;
}

.tour-row {
    color: white;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: white;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
    width: 300px;
    height: 400px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: white;
    font-size: 16pt;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
   
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: black;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid greenyellow;
    background-color: white;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

#Company-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  border-radius: 360px;

}

#Company-image-div {
    margin: auto;
}

#Map-div {
    margin: auto;
}

#Map-iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}

.Loading-icon{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid greenyellow;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#Loading-page{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }
